# Имя чипа можно менять
if {![info exists _CHIPNAME]} {
    set _CHIPNAME "mik32"
}

jtag newtap $_CHIPNAME cpu -irlen 5 -ircapture 0x1 -irmask 0x1f -expected-id 0xdeb11001

jtag newtap $_CHIPNAME sys -irlen 4 -ircapture 0x05 -irmask 0x0F -enable -expected-id 0xfffffffe -ignore-bypass
    
set _TARGETNAME $_CHIPNAME.cpu

target create $_TARGETNAME riscv -endian little -chain-position $_TARGETNAME -coreid 0

riscv expose_csrs 2016=mcounten

reset_config trst_and_srst

init_reset run

poll_period 200

init
$_TARGETNAME arm semihosting enable
puts "init done"
